#conteiner {
    display: flex;
}

cartao {
    margin:1rem 1rem;
    background-color:bisque
}
body {
    background-color: white (255, 254, 252) (247, 237, 225);
    font-family: PT Serif;
    color:black (0, 0, 0)
}


footer {
    background-color: white;
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 2rem;
}

footer p {
    text-align: center;
    font-size: 0.7rem;
    margin-top: 0,6rem;
}